/* ---------------------- App ---------------------- */

#app {
	width: 1150px;
	margin: auto;
}

/* ---------------------- Movie Component ---------------------- */

#movie {

}

#movie-poster {
	display: inline-block;
	width: 270px;
	height: 410px;
}

#movie-details {
	display: inline-block;
	width: 540px;
	height: 410px;
}